astrbot-plugin-dota2forge[stratz] @ https://github.com/HBLADEH/astrbot_plugin_dota2forge/releases/download/v0.1.0a7/astrbot_plugin_dota2forge-0.1.0a7-py3-none-any.whl#sha256=0745af432c3adeef7e8382740a7661fd3fc682402a1cae255161c83f31cdba27
dota2forge-core[stratz] @ https://github.com/HBLADEH/astrbot_plugin_dota2forge/releases/download/v0.1.0a7/dota2forge_core-0.1.0a4-py3-none-any.whl#sha256=badd006aab7b7925e7d1922f8c2f7d3cd9d5610f46a8a50a872d3cafe9316f68
dota2forge-renderer @ https://github.com/HBLADEH/astrbot_plugin_dota2forge/releases/download/v0.1.0a7/dota2forge_renderer-0.1.0a4-py3-none-any.whl#sha256=c1bbceb2619a57c1db8880c99a4eaa99c55db4fac4fe8ea67d399bd372f472c6
httpx>=0.28.1,<1
pillow>=11.3,<13
